.form-container{
    margin: 3rem;
}

.input-container{
    padding: 1rem;
}

.input{
    border: solid 1px black;
    width: 25vw;
}

label{
    padding-bottom: 0.5rem;
}

button{
    padding: 0.75rem 1.5rem;
    background-color: #FFED86;
    border-radius:6px;
    overflow:hidden;
    font-weight: 750;
}