$page-color: #f2f2f2;
$primary-card-color: #191919;
$secondary-card-color: #40e0d0;
$third-card-color: #888888;
$primary-font-color: #fff;
$secondary-font-color: #000;

$thin: 100;
$light: 300;
$regular: 500;
$bold: 900;

section{
    display: flex;
    flex-direction: column;
    padding: 0 8.4375rem 0 8.4375rem;
    margin-bottom: 2.5rem;
    flex-wrap: wrap;
    background-color: $page-color;
}
img{
    max-width: 100%;
}
.wrapper{
    display: flex;
    justify-content: space-evenly;
    grid-area: content;
    gap: 1.875rem;
    flex-wrap: wrap;
}

section:nth-of-type(1){
    padding-bottom: 8.625rem;
    .header-1{
        margin: 5rem 0 4rem 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .tp1{
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
    }
    .wrapper{
        .card-1{
            height: auto;
            display: flex;
            flex-direction: column;
            margin-bottom: 8.5625rem;
            flex: 1 1 0;
            .card-caption{
                display: flex;
                flex-direction: column;
                background-color: $secondary-card-color;
                padding: 7.5%;
                justify-content: space-between;
                .fc1{
                    font-size: 1.25rem;
                    margin-bottom: 4.625rem;
                }
                .link-1{
                    font-size: 0.875rem;
                    text-decoration: none;
                    color: $secondary-font-color;
                }
            }
        }
    }
}


section:nth-of-type(2){
    padding-bottom: 3.25rem;
    margin-bottom: 2.5rem;
    .header-2{
        display: flex;
        text-align: center;
        flex-direction: column;
        margin-top: 4.375rem;
        display: flex;
        flex-wrap: wrap;
        .tp2{
            font-size: 1.5rem;
            margin-bottom: 1.5625rem;
            font-weight: 400;
        }
        .p2{
            font-size: 1.125rem;
            margin-bottom: 3rem;  
            font-weight: 400;
        }
    }
}

section:nth-of-type(3){
    display: flex;
    flex-direction: row;
    padding: 5rem 8.4375rem 5rem 8.4375rem;
    gap: 1.875rem;
    flex-wrap: wrap;
    margin-top: 2.5rem;
    .st1{
        background-color: $primary-card-color;
        color: $primary-font-color;
        flex: 1 1 0;
        flex-wrap: wrap;
        .card-3{
            padding: 3.5rem 3rem 8.375rem 2rem;
            .p3{
                font-size: 2.5rem;
            }
        }
    }
    .st2{
        background-color: $third-card-color;
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        flex-wrap: wrap;
        .card-3{
            padding: 2rem 1.5625rem 22.5rem 2rem;
            .cat-1{
                background-color: $primary-card-color;
                color: $primary-font-color;
                font-size: 0.875rem;
                padding: 0.75rem 1.4375rem 0.5rem 1.5rem;
                margin-bottom: 1rem;
                margin-right: 10rem;
            }
              .ban-1{
                background-color: $primary-card-color;
                color: $primary-font-color;
                padding: 1.5rem 1.25rem 1.4375rem 1.5rem;
                font-size: 1.5rem;
            }
        }
    }
    .wrapper-column{
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
        flex: 1 1 0;
        flex-wrap: wrap;
        .card-4{
            background-color: $secondary-card-color;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 0 1.25rem 1.4375rem 1.5rem;
            .ft-3{
                margin-top: 2.5rem;
                margin-bottom: 1.0625rem;
                font-size: 0.875rem;
                font-weight: 400;
            }
            .fc-3{
                margin-bottom: 2.5rem;
                font-size: 1.5rem;
                font-weight: 400;
            }
            .an{
                margin-bottom: 2.5625rem;
                font-size: 1.125rem;
                font-weight: 400;
            }
        }
    }
}

section:nth-of-type(4){
    display: flex;
    flex-direction: column;
    padding: 0 8.4375rem 0 8.4375rem;
    gap: 1.875rem;
    flex-wrap: wrap;
    margin-bottom: 0;
    .card-5{
        color: $primary-font-color;
        display: flex;
        flex-direction: row;
        margin-top: 5rem;
        .bk-1{
            background-color: $primary-card-color;
            flex-grow: calc(1/3);
            flex-basis: 0;
          }
        .bk-2{
            background-color: $secondary-font-color;
            color: $primary-font-color;
            flex-grow: calc(2/3);
            flex-basis: 0;
            .an5{
                margin: 3.375rem 38.1875rem 1rem 4.875rem;
                font-size: 0.875rem;
            }
            .p5{
                font-size: 3rem;
                margin: 0 12.5rem 5rem 4.875rem;
            }
            .rm5{
                margin: 0 37.8125rem 3.0625rem 4.875rem;
                font-size: 1.125rem;
            }
        }
    }
    .wrapper-row{
        display: flex;
        flex-direction: row;
        gap: 1.875rem;
        margin-bottom: 5rem;
        .card-6{
            background-color: $secondary-card-color;
            .ft-5{
                margin: 3rem 3rem 1rem 3rem;
                font-size: 1.5rem;
                line-height: 2.109375rem;
            }
            .fc-5{
                margin: 0 3rem 1rem 3rem;
                font-size: 1.125rem;
                line-height: 2.109375rem;
                font-weight: 300;
            }
            .rm-51{
                margin: 0 auto 3.125rem 3rem;
                font-size: 0.875rem;
                line-height: 2.109375rem;
                font-weight: 300;
            }
        }
    }
}


@media screen and (max-width: 640px) {
    section{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    
    section:nth-of-type(3){
        display: flex;
        flex-direction: column;
        margin: 0;
        flex-wrap: wrap;
        gap: 0;
        .st1{
            .card-3{
                display: flex;
                flex-direction: column;
                margin: 0;
                flex-wrap: wrap;
                gap: 0;
                .p3{
                    font-size: 3rem;
                    margin: 0 ; 
                }
            }
        }
        .st2{
            background-color: $third-card-color;
            display: flex;
            flex-direction: column;
            padding-bottom: 40%;
            flex-wrap: wrap;
            .card-3{
                padding-bottom: 0;
                .cat-1{
                    background-color: black;
                    color: $primary-font-color;
                    font-size: 0.875rem;
                    padding: 3%;
                    margin-bottom: 10%;
                }
                  .ban-1{
                    background-color: $primary-card-color;
                    color: $primary-font-color;
                    padding: 10%;
                    font-size: 1.5rem;
                    margin-bottom: 40%;
                }
            }
        }
        .wrapper-column{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin-top: auto;
            margin: 5%;
            gap: 1rem;
        }
    }
}

@media screen and (max-width: 1000px) {
    section:nth-of-type(4){
        display: flex;
        flex-direction: column;
        margin: 0;
        flex-wrap: wrap;
        gap: 0;
        .card-5{
            margin-top: 0;
            flex-wrap: wrap;
            .bk-1{
                display: none;
            }
            .bk-2{
                background-color: $primary-card-color;
                color: $primary-font-color;
                flex-grow: 1;
                .an5{
                    margin: 0rem;
                    margin-top: 2rem;
                    font-size: 0.875rem;
                    padding: 10%;
                    padding-top: 5%;
                    padding-bottom: 0;
                }
                .p5{
                    font-size: 3rem;
                    margin: 0rem;
                    padding: 10%;
                }
                .rm5{
                    margin: 0rem;
                    padding: 10%;
                }
            }
        }
        .wrapper-row{
            display: flex;
            flex-direction: column;
            margin: 5%;
            gap: 1rem;
            flex-wrap: wrap;
            .card-6{
                padding: 5%;
            }
        }
    }
}

@media screen and (max-width: 490px) {
    section, section:nth-of-type(3), section:nth-of-type(4){
        padding: 0;
    }
}