.page{
  background-color: #F2F2F2;
   width: 100%;
 }
 .page-1{
  display: grid;
  grid-template-areas: 
  "header"
  "content";
 }
.tp1{
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
 .p1{
   font-size: 1.125rem;
   font-weight: 100;
 }
 .header-1{
  margin: 5rem 0 4rem 0;
  grid-area: header;
  text-align: center;
  display: flex;
  flex-flow: column;
 }
 .container{
   display: flex;
   margin: 0 8.4375rem 0 8.4375rem;
   justify-content: space-evenly;
   grid-area: content;
   gap: 1.875rem;
}
.card-1{
  height: auto;
  display: flex;
  flex-flow: column;
  align-content: center;
  margin: 0 0 12.9375rem 0;
}
img{
  max-width: 100%;
  max-height: 100%;
}
.card-caption{
  display: flex;
  flex-flow: column;
  background-color: turquoise;
  padding: 7.5%;
  justify-content: space-between;
}
.fc1{
  font-size: 1.25rem;
  margin-bottom: 4.625rem;
}
.link-1{
  font-size: 0.875rem;
  text-decoration: none;
  color: black;
}

.page-2{
  display: grid;
  grid-template-areas: "header"
  "content";
  width: 100%;
}
.header-2{
  display: flex;
  grid-area: header;
  text-align: center;
  flex-flow: column;
  margin: 0 8.4375rem 0 8.4375rem;
}
.tp2{
  font-size: 1.5rem;
  margin-bottom: 1.5625rem;
  font-weight: 400;
}
.p2{
  font-size: 1.125rem;
  margin: 0 8.4375rem 5rem 8.4375rem;
  font-weight: 400;
}
.container-2{
  display: flex;
  margin: 0 8.4375rem 0 8.4375rem;
  justify-content: space-between;
  grid-area: content;
  gap: 1.875rem;
}
.title-2{
  margin-bottom: 1.5rem;
}
.card-2{
  display: flex;
  flex-flow: column;
  margin: 0 0 12.9375rem 0;
}
.card-caption-2{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-bottom: 8.25rem;
}
.fc2{
  font-size: 1.5rem;
  margin-top: 2.125rem;
  margin-bottom: 0.75rem;
}

.container-3{
  padding: 0 8.4375rem 10rem 8.4375rem;
  grid-template-areas: 
  "area-1 area-2 area-3"
  "area-1 area-2 area-4";
  display: grid;
  gap: 1.875rem;
}

.card-3:nth-of-type(1){
  grid-area: area-1;
  background-color: black;
  color: white;
}
.p3{
  font-size: 3.5rem;
  margin: 3.5rem 3rem 8.375rem 3rem; 
}
.card-3:nth-of-type(2){
  grid-area: area-2;
  background-color: gray;
  display: flex;
  flex-direction: column;
}
.cat-1{
  background-color: black;
  color: white;
  max-height:2.5rem ;
  max-width: 6.5625rem;
  font-size: 0.875rem;
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  margin: 2.375rem 15rem 0.9375rem 1.625rem;
}
.ban-1{
  background-color: black;
  color: white;
  padding: 1.5rem;
  margin: 0 1.625rem 22.5rem 1.625rem;
  font-size: 1.5rem;
}
.card-4{
  background-color: turquoise;
}
.card-4:nth-of-type(1){
  grid-area: area-3;
  display: flex;
}
.card-4:nth-of-type(2){
  grid-area: area-4;
  display: flex;
}

.ft-3{
  margin: 2.7rem 16.5625rem 1rem 2.9375rem;
  font-size: 0.875rem;
  font-weight: 400;
}
.fc-3{
  margin: 0 3rem 2.5rem 2.9375rem;
  font-size: 1.5rem;
  font-weight: 400;
}
.an{
  margin: 0 13.6875rem 2.5625rem 2.9375rem;
  font-size: 1.125rem;
  font-weight: 400;
}

.container-4{
  display: grid;
  margin: 0 8.4375rem 10rem 8.4375rem;
  padding-bottom: 5rem;
  grid-template-areas: 
  "cnt-1 cnt-1"
  "cnt-2 cnt-3";
  grid-template-rows: 1.25fr 1fr;
  gap: 2.5rem;
}
.card-5:nth-of-type(1){
  grid-area: cnt-1;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
}
.bk-1{
  background-color: #222222;
}
.bk-2{
  background-color: black;
  color: white;
}
.an5{
  margin: 3.375rem 38.1875rem 1rem 4.875rem;
  font-size: 0.875rem;
}
.p5{
  font-size: 3rem;
  margin: 0 12.5rem 5rem 4.875rem;
}
.rm5{
  margin: 0 37.8125rem 3.0625rem 4.875rem;
}
.card-5:nth-of-type(2){
  grid-area: cnt-2;
  background-color: white;
}
.card-5:nth-of-type(3){
  grid-area: cnt-3;
  background-color: white;
}
.ft-5{
  margin: 3rem 3rem 1rem 3rem;
  font-size: 1.5rem;
  line-height: 2.109375rem;
}
.fc-5{
  margin: 0 3rem 1rem 3rem;
  font-size: 1.125rem;
  line-height: 2.109375rem;
  font-weight: 300;
}
.rm-51{
  margin: 0 auto 3.125rem 3rem;
  font-size: 0.875rem;
  line-height: 2.109375rem;
  font-weight: 300;
}