.app-main{
  background-color: #F2F2F2;
   width: 100%;
 }
 
 .page{
   display: flex;
   flex-direction: column;
   margin: 0 8.4375rem 0 8.4375rem;
   flex-wrap: wrap;
 }

 .header-1{
  margin: 5rem 0 4rem 0;
  grid-area: header;
  text-align: center;
  display: flex;
  flex-direction: column;
 }

 .tp1{
   font-size: 2rem;
   margin-bottom: 1.5rem;
 }

 .wrapper{
   display: flex;
   justify-content: space-evenly;
   grid-area: content;
   gap: 1.875rem;
  flex-flow: wrap;
  }

 img{
  max-width: 100%;
}

.card-1{
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 8.5625rem;
  flex: 1 1 0;
}

.card-caption{
  display: flex;
  flex-direction: column;
  background-color: turquoise;
  padding: 7.5%;
  justify-content: space-between;
}
.fc1{
  font-size: 1.25rem;
  margin-bottom: 4.625rem;
}
.link-1{
  font-size: 0.875rem;
  text-decoration: none;
  color: black;
}


.header-2{
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 4.375rem;
}
.tp2{
  font-size: 1.5rem;
  margin-bottom: 1.5625rem;
  font-weight: 400;
}
.p2{
  font-size: 1.125rem;
  margin-bottom: 3rem;  
  font-weight: 400;
}
.title-2{
  margin-bottom: 1.5rem;
}
.card-2{
  display: flex;
  flex-direction: column;
  margin: 0 0 3.25rem 0;
  flex: 1 1 0
}
.card-caption-2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 8.25rem;
}
.fc2{
  font-size: 1.5rem;
  margin-top: 2.125rem;
  margin-bottom: 0.75rem;
}


.page:nth-of-type(3){
  display: flex;
  flex-direction: row;
  margin: 0 8.4375rem 10rem 8.4375rem;
  gap: 1.875rem;
  flex-wrap: wrap;
}

.page:nth-of-type(3) > * {
  flex: 1;
}

.wrapper-column{
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.st1{
  background-color: black;
  color: white;
}

.st1 .card-3{
  padding: 3.5rem 1.5625rem 8.375rem 2rem; 
  flex: 1 1 0;
}
.p3{
  font-size: 3.5rem;
}
.st2 .card-3{
  background-color: gray;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5625rem 22.5rem 2rem;
  flex: 1 1 0;
}
.cat-1{
  background-color: black;
  color: white;
  max-height:2.5rem ;
  max-width: 6.5625rem;
  font-size: 0.875rem;
  padding: 0.75rem 1.4375rem 0.5rem 1.5rem;
  margin-bottom: 1rem;
}
.ban-1{
  background-color: black;
  color: white;
  padding: 1.5rem 1.25rem 1.4375rem 1.5rem;
  font-size: 1.5rem;
}

.card-4{
  background-color: turquoise;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 1.25rem 1.4375rem 1.5rem;
}

.ft-3{
  /* margin: 2.5rem 16.5625rem 1.0625rem 2.9375rem; */
  margin-top: 2.5rem;
  margin-bottom: 1.0625rem;
  font-size: 0.875rem;
  font-weight: 400;
}
.fc-3{
  /* margin: 0 3rem 2.5rem 2.9375rem; */
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  font-weight: 400;
}
.an{
  /* margin: 0 13.6875rem 2.5625rem 2.9375rem; */
  margin-bottom: 2.5625rem;
  font-size: 1.125rem;
  font-weight: 400;
}


.page:nth-of-type(4){
  display: flex;
  flex-direction: column;
  margin: 0 8.4375rem 0 8.4375rem;
  gap: 1.875rem;
}
.card-5{
  color: white;
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}
.bk-1{
  background-color: #222222;
  flex-grow: calc(1/3);
  flex-basis: 0;
}
.bk-2{
  background-color: black;
  color: white;
  flex-grow: calc(2/3);
  flex-basis: 0;
}
.an5{
  margin: 3.375rem 38.1875rem 1rem 4.875rem;
  font-size: 0.875rem;
}
.p5{
  font-size: 3rem;
  margin: 0 12.5rem 5rem 4.875rem;
}
.rm5{
  margin: 0 37.8125rem 3.0625rem 4.875rem;
  font-size: 1.125rem;
}

.wrapper-row{
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  margin-bottom: 5rem;
}
.card-6{
  background-color: turquoise;
}
.ft-5{
  margin: 3rem 3rem 1rem 3rem;
  font-size: 1.5rem;
  line-height: 2.109375rem;
}
.fc-5{
  margin: 0 3rem 1rem 3rem;
  font-size: 1.125rem;
  line-height: 2.109375rem;
  font-weight: 300;
}
.rm-51{
  margin: 0 auto 3.125rem 3rem;
  font-size: 0.875rem;
  line-height: 2.109375rem;
  font-weight: 300;
}

@media screen and (max-width: 360px) {
  .page{
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .page:nth-of-type(1){
    background-color: white;
  }
  .wrapper{
    display: flex;
    flex-direction: column;
  }
  .card-1{
    padding: 0rem 3rem 0rem 3rem;
    margin-bottom: 2rem;
  }
  .header-2{
    margin-top: 2rem;
  }
  .p2{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .card-2{
    padding: 0rem 3rem 0 3rem;
    margin: 0rem;
    margin-bottom: 2rem;
  }
  .card-caption-2{
    margin: 0;
  }


  .page:nth-of-type(3){
    display: flex;
    flex-direction: column;
    margin: 0;
    flex-wrap: wrap;
    gap: 0;
    background-color: white;
  }
  
  .wrapper-column{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin: 5%;
    gap: 1rem;
  }
  
  .p3{
    font-size: 3rem;
    margin: 0 ; 
  }
  .card-3:nth-of-type(2){
    background-color: gray;
    display: flex;
    flex-direction: column;
  }
  .st2 .card-3{
    padding-bottom: 40%;
  }
  .cat-1{
    background-color: black;
    color: white;
    font-size: 0.875rem;
    padding: 3%;
    margin-bottom: 10%;
  }
  .ban-1{
    background-color: black;
    color: white;
    padding: 10%;
    font-size: 1.5rem;
    margin-bottom: 40%;
  }
  .card-4{
    background-color: turquoise;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .ft-3{
    margin: 0;
    padding: 5%;
    font-size: 0.875rem;
    font-weight: 400;
  }
  .fc-3{
    margin: 0 ;
    padding: 5%;
    padding-top: 1%;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .an{
    margin: 0 0;
    padding: 5%;
    font-size: 1.125rem;
    font-weight: 400;
  }


  .page:nth-of-type(4){
    display: flex;
    flex-direction: column;
    margin: 0;
    flex-wrap: wrap;
    gap: 0;
    background-color: white;
  }
  .card-5{
    margin-top: 0;
  }
  .wrapper-row{
    display: flex;
    flex-direction: column;
    margin: 5%;
    gap: 1rem;
  }
  .bk-1{
    display: none;
  }
  .bk-2{
    background-color: black;
    color: white;
    flex-grow: 1;
  }
  .an5{
    margin: 0rem;
    margin-top: 2rem;
    font-size: 0.875rem;
    padding: 10%;
    padding-top: 5%;
    padding-bottom: 0;
  }
  .p5{
    font-size: 3rem;
    margin: 0rem;
    padding: 10%;
  }
  .rm5{
    margin: 0rem;
    padding: 10%;
  }

  .card-6{
    padding: 5%;
  }
  .ft-5{
    margin: 0rem;
    margin-bottom: 5%;
    font-size: 1.5rem;
    line-height: 2.109375rem;
  }
  .fc-5{
    margin: 0rem;
    margin-bottom: 5%;
    font-size: 1.125rem;
    line-height: 2.109375rem;
    font-weight: 300;
  }
  .rm-51{
    margin: 0rem;
    font-size: 0.875rem;
    line-height: 2.109375rem;
    font-weight: 300;
  }
}
